.h1-my-name-animation{
    animation: text-flicker-in-glow 2s ease-in 1s;
    animation-fill-mode: backwards;
  }

.fadeIn {
  animation: fadeIn 1s ease-in-out 1.6s;
  animation-fill-mode: backwards;
}

.tagline-fadeIn {
    animation: text-flicker-in-glow 2s ease-in 0s;
    animation-fill-mode: backwards;
}

.btn-moveInFromTop {
    animation: btn-moveInFromTop 2.6s ease-in 0s;
    animation-fill-mode: backwards;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-12px);
    opacity: 0;
    filter: blur(12px);
    -webkit-filter: blur(12px);
  }
  10% {
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}

@keyframes bg-animation {

  0% {
    opacity: 0;
    background: url(../img/sn-bg-large-0.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  60% {
    opacity: 1;
    background: url(../img/sn-bg-large-0.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  100% {
    opacity: 1;
    background: url(../img/sn-bg-large-1.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

@keyframes btn-moveInFromTop {
    0%{
      opacity: 1;
      transform: translateY(-1000px);
      background-color: $white;
      filter: blur(40px);
      -webkit-filter: blur(40px);
      border-radius: 100px;
    }
    50% {
      opacity: .5;
      filter: blur(12px);
      -webkit-filter: blur(12px);
      background-color: $white;
      border-radius: 100px;
    }

    80% {
      opacity: 0;
      transform: translateY(0px);
      filter: blur(12px);
      -webkit-filter: blur(12px);
      background-color: $white;
      border-radius: 100px;
    }
  
    100%{
      opacity: 1;
      transform: translateY(0px);
      filter: blur(0px);
      -webkit-filter: blur(0px);
      background-color: $primary;
      border-radius: 0;
    }
  }

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }
  100% {
    opacity: 1;
    text-shadow: none;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}