.h1-my-name-animation{
    color: $white;
    animation: fadeIn 2s ease-in 1s;
    animation-fill-mode: backwards;
}

.tagline-fadeIn {
    animation: fadeIn 2.5s ease-in 1.5s;
    animation-fill-mode: backwards;
}

.btn-moveInFromTop {
    animation: btn-moveInFromTop 3s ease-in 3s;
    animation-fill-mode: backwards;
}


@keyframes btn-moveInFromTop {
    0%{
      opacity: 0;
      transform: translateY(-6px);
    }

    90% {
        transform: translateY(-1px);
    }
  
    100%{
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0%{
      opacity: 0;
      filter: blur(4px);
      -webkit-filter: blur(4px);
    }
  
    100%{
      opacity: 1;
      filter: blur(0px);
      -webkit-filter: blur(0px);
    }
  }

  @keyframes imgFade {
    0% {
      opacity: 0;
      filter: blur(0px);
      -webkit-filter: blur(0px);
    }

    30% {
      opacity: .4;
      filter: blur(0px);
      -webkit-filter: blur(0px);
    }
      
    60% {
      opacity: 1;
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }
    
    100% {
      opacity: .7;
      filter: blur(4px);
      -webkit-filter: blur(4px);
    } 
  }