.btn {
  padding: 1.25rem 2rem;
  font-family: $secondary-font;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
  box-shadow: 0 22px 12px -14px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

.btn-primary {
  background-color: $primary;
  text-decoration: none;
  &:hover {
    background-color: lighten($primary, 10%);
    box-shadow: 0 14px 6px -8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    transition-duration: .5s;
  }
  &:focus {
    background-color: lighten($primary, 10%);
    box-shadow: 0 16px 6px -8px rgba(0, 0, 0, 0.3);
  }
  &:active {
    background-color: darken($primary, 10%) !important;
    box-shadow: 0 8px 6px -8px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
    transition-duration: .1s;
    transition-delay: 0s;
  }
}

.btn-project {
  margin-top: 1rem;
}