/* mobile style */
#mainNav {
  min-height: 56px;
  background-color: $black;
  border-radius: 0;
  border-bottom: 1px solid $primary;
  .navbar {
    padding: 0.5rem 0.5rem;
  } 
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 0;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: darken($white, 20%);
    font-weight: 700;
    padding: .25;
  }
}
.navbar-dark .navbar-nav .nav-link {
    color: darken($white, 20%);
    padding: 1rem 1rem;
    &:hover{
      color: lighten($primary, 20%);
    }
}

.navbar-dark .navbar-nav .nav-link.active {
  color: lighten($primary, 20%);
}