// Variables

$white: #fff !default;
$black: #161616 !default;
$gray-100: lighten(#161616, 90%) !default;
$gray-200: lighten(#161616, 80%) !default;
$gray-300: lighten(#161616, 70%) !default;
$gray-400: lighten(#161616, 60%) !default;
$gray-500: lighten(#161616, 50%) !default;
$gray-600: lighten(#161616, 40%) !default;
$gray-700: lighten(#161616, 30%) !default;
$gray-800: lighten(#161616, 20%) !default;
$gray-900: lighten(#161616, 10%) !default;

$primary: #0000FF !default;
$primary-font: 'Barlow Condensed', sans-serif !default;
$secondary-font: 'Open Sans', sans-serif !default;

$primary-url: rgb(0, 247, 255);