@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';
@import 'animations.scss';

body {
  font-family: $secondary-font;
  letter-spacing: 0.0625em;
  line-height: 1.5rem;
}

@for $i from 1 through 4 {
  h#{5 - $i} {
      font-size: $i * 1rem;
      font-family: $primary-font;
      line-height: $i * 1rem + .375rem;
  }
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: lighten($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}
